img {
  width: 100%;
}

.navbar {
  background-color: #e3f2fd;
}
.fa.fa-edit {
  color: #18a2b9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/***********
Top Bar
***********/

.top_bar
{	
	width: 100%;
	background: #283290;
}
.top_bar_content
{
	width: 100%;
	height: 40px;
	padding-left: 214px;
	
}
.top_bar_item
{
	margin-left: 33px;
  margin-top: 10px;
	margin-bottom: 10px;
}
.top_bar_item a
{
	font-size: 14px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
  text-decoration: none;
	
}
.top_bar_item:first-child
{
	margin-left: 37px;
	
}
.emergencies
{
	height: 100%;
	background: #ff0030;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	margin-left: 40%;
	padding-left: 38px;
	padding-right: 38px;
}

li {
 list-style: none;
}

.btnColor{
  color: #283290;
}

.card {
  margin: 5px auto; /* Added */
  float: none; /* Added */
  width: 300px;
  height: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  
}
.component{
  text-decoration: none;
}

.card .container {
  
  padding: 2px 14px 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

